
.exp_full{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    margin: auto;
}
#exp_container{
    /* position: relative; */
    padding: 2px;
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#exp_form{
    background-color: #ffffffb7;
    width: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.exp_top{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
}
.exp_top img{
    width: 45px;
    height: 45px;
    background-color: rgb(48, 109, 179);
}

.exp_mid{
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#add_exp_btn{
    cursor: pointer;
    background-color: green;
    /* background-color: #008CBA; */
    font-weight: 600;
    color: #fff;
    padding: 8px 10px;
    font-size: 19px;
    border-radius: 6px;
    border-color: green;
    transition: .1s;
}
#add_exp_btn:hover{
    transition: .1s;
    background-color: rgb(2, 101, 2);
    /* background-color: #005C7A; */
    border-color: rgb(2, 101, 2);
}

#exp_search_btn{
    cursor: pointer;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    /* color: rgb(52, 52, 52); */
    border-color: rgb(52, 52, 52);
    background-color: #008CBA;
    border-color: #008CBA;
}
#exp_search_btn:hover{
    background-color: #005C7A;
    border-color: #008CBA;
}


#exp_bottom{
    min-width: 100%;
    height: 70%;
    overflow: scroll;
    scroll-behavior: smooth;
}
#exp_bottom::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
#exp_bottom .every_exp_main{
    background-color: #98c1d988;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: .5s ease;
    transition-delay: .2s;
}
.every_exp_card{
    /* background-color: #98c1d988; */
    height: 70px;
    /* cursor: pointer; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0px 20px;
}
/* .every_exp_card:hover{
    height: 120px;
    transition: .7s;
    transition-delay: .5s;
} */
.every_exp_card_inner{
    width: 92%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(52, 52, 52);
}
.every_exp_card_inner h4{
    font-size: 19px;
}
.every_exp_card_inner p{
    color: gray;
    font-size: 17px;
}
.every_exp_card_inner .exp_amount{
    color: red;
}
.exp_card_buttons{
    padding: 0px 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exp_card_buttons button{
    margin-top: -10px;
    padding: 3px 15px;
    font-size: 16px;
}
.exp_delete{
    background-color: rgba(190, 1, 1, 0.77);
    border-color: rgba(190, 1, 1, 0.77);
}
.exp_delete:hover{
    background-color: rgb(124, 0, 0);
    border-color: rgb(124, 0, 0);
}
