* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: #fafafa;
}

main {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

.container {
    width: 98%;
    height: 98%;
    margin: auto;

}

.left-options-section {
    width: 20%;
    height: 100%;
    float: left;
}

.app-logo {
    width: 100%;
    height: 15%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(48, 109, 179);
    border-top-left-radius: 7px;
}

.app-logo-image {
    width: 60px;
    height: 50px;
    background-color: rgb(48, 109, 179);
}

.app-logo-image img {
    width: 100%;
    height: 100%;
}

.user-options {
    width: 100%;
    height: 85%;
    background: rgba(0, 0, 0, 0.5);
    background-color: rgb(48, 109, 179);
    border-bottom-left-radius: 7px;
}

.user-options ul {
    width: 100%;
    height: 70%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 1rem;
}

.user-options ul li {
    width: 100%;
    height: 20%;
    padding: 1rem;
    border-top-left-radius: 50vmax;
    border-bottom-left-radius: 50vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}



.user-options ul li img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.user-options ul li a {
    text-decoration: none;
    color: rgb(246, 246, 249);
    font-size: 1rem;
    font-weight: 500;
}

.right-section-display {
    width: 80%;
    height: 100%;
    float: right;
}

.fixed-div {
    width: 100%;
    height: 15%;
    border-top-right-radius: 7px;
    background: rgba(235, 232, 232, 0.5);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(48, 109, 179);
}

.user-img-and-name {
    width: fit-content;
    height: 100%;
    display: flex;
    padding: 0 0.5rem;
    justify-content: space-around;
    align-items: center;
}

.user-img-and-name img {
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    border-radius: 50%;
}

.various-display-div {
    width: 100%;
    height: 85%;
    padding: 1rem;
    border-bottom-right-radius: 7px;
    background: #ffffff;
    transition: ease-in-out 0.5s;
    
}



/* loading logo */

.loading-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
}

.loader {
    border: 6px solid #e3e1e1;
    border-radius: 50%;
    border-top: 6px solid #071fb9;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}