* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#edit-form {
  width: fit-content;
  height:fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 1rem;
  background-color: rgb(48, 109, 179);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#edit-form>input {
  width: 100%;
  border: 1px solid rgb(169, 167, 167);
  border-radius: 5px;
  padding: 0.6rem;
  background-color: rgb(235, 233, 233);
  font-weight: bold;
}
#edit-form>label{
  width: 100%;
  font-weight: bold;
  color: white;
  line-height: 2;
}

/* .edit-form-container>form {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border-radius: 7px;
  background: white;
  box-shadow: rgba(21, 21, 43, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
} */

#edit-form>button{
  width: 50%;
  border: 1px solid rgb(169, 167, 167);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgb(9, 244, 122);
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}
#edit-form>button:hover{
  background-color: rgb(15, 209, 109);
  cursor: pointer;
}

.close_popup_arrow{
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}